* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


a {
    text-decoration: none;
}

li  {
    list-style: none;
}

img {
    width: 100%;
}

.navbar {
    background: #de95e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0.5rem;
}

.logo {
    font-family: cursive;
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem 2rem;
    color: #0000ff8e;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: 1rem;
}

.navbar-items .navbar-item {
    margin-right: 2rem;
    padding: .6rem 0.7rem;
    /* border: 2px solid #000; */
    border-radius: 0.7rem;
}

.navbar-items .navbar-item a:hover {
    
    border: 2px solid #fff;
    color: #00ffffb2;
    border-radius: 1rem;
    background: #fff;
}

.navbar-btn {
    padding: 1rem 2.5rem;
    margin-right: 1rem;
    border: 2px solid #fff;
    border-radius: 1rem;
}


.navbar-btn:hover {
    padding: 1rem 2.5rem;
    margin-right: 1rem;
    border: 2px solid #000;
    background-color: #B595D1;
    border-radius: 1rem;
    transition: all 3s ease-in-out;
}

/* potfolio section  */

.portfolio {
    background-image: url(/bkground.jpg);
}

.portfolio-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
}

.potfolio-txt{
    text-align: center;
    margin: 1rem 2rem
}


.potfolio-txt h3 {
    font-size: 1;
}

